<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{ entry.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="align-items-center">
                <div class="fw-bold mt-2">Project: </div><span class="text-primary dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">{{ entry.project }}</span>
                    <ul class="dropdown-menu searchProjectModal">
                        <input type="search" class="dropdown-item form-control" autocomplete="false" placeholder="Type to Search..." id="searchProjectModal">
                        {% for project in projects %}
                            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 project-item-modal" data-value="{{ project.name }}" href="#"><span class="d-inline-block bg-success rounded-circle p-1"></span>{{ project.name }}</a></li>
                        {% endfor %}
                    </ul>
                <div class="fw-bold mt-2">Task: </div><span class="text-primary dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">{{ entry.task }}</span>
                    <ul class="dropdown-menu searchTaskModal">
                        <input type="search" class="dropdown-item form-control" autocomplete="false" placeholder="Type to Search..." id="searchTaskModal">
                        {% for task in tasks %}
                            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 task-item-modal" data-value="{{ task.name }}" href="#"><span class="d-inline-block bg-success rounded-circle p-1"></span>{{ task.name }}</a></li>
                        {% endfor %}
                    </ul>
                <div class="fw-bold mt-2">Category: </div><span class="text-primary dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">{{ entry.category }}</span>
                    <ul class="dropdown-menu searchCategoryModal">
                        <input type="search" class="dropdown-item form-control" autocomplete="false" placeholder="Type to Search..." id="searchCategoryModal">
                        {% for category in categories %}
                            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 category-item-modal" data-value="{{ category.name }}" href="#"><span class="d-inline-block bg-success rounded-circle p-1"></span>{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="category" id="category-input">
                <div class="mt-2">
                    <label class="fw-bold form-check-label">Billable:</label>
                </div>
                <div class="form-switch">
                    {% if entry.billable %}
                        <input class="form-check-input" type="checkbox" role="switch" id="billableModal" checked>
                    {% else %}
                        <input class="form-check-input" type="checkbox" role="switch" id="notBillableModal">
                    {% endif %}
                </div>


                <div class="border-start fw-bold text-center mt-2"> Date: </div>
                    <!-- Full Date Format (visible on large screens) -->
                    <span class="d-none d-lg-inline">
                        {{ datetime.strptime(entry.date, "%Y-%m-%d").strftime("%m/%d/%Y") }}
                    </span>

                    <!-- Short Date Format (visible on small screens) -->
                    <span class="d-inline d-lg-none">
                        {{ datetime.strptime(entry.date, "%Y-%m-%d").strftime("%m/%d") }}
                    </span>

                <div class="border-start border-end fw-bold text-center mt-2"> Time: </div><span>{{ str(datetime.strptime(entry.start_time, "%H:%M").strftime("%I:%M %p")) }} - {{ str(datetime.strptime(entry.end_time, "%H:%M").strftime("%I:%M %p")) }}</span>

                <div class="fw-bold mt-2">Tag(s): </div>
                <div class="mt-1 mb-3">
                    {% if entry.tags %}
                        {% for tags in entry.tags.split(',') %}
                            <div class="d-inline-block rounded bg-info p-1" style="font-size: 14px;">{{ tags }}</div>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
